
<launch>
  <!-- Move Base Handles interactions between Nav Stack and Robot Hardware -->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/costmap_common_params-collector.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/costmap_common_params-collector.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/base_local_planner_params-collector.yaml" command="load" />
      <remap from="map" to="/map" />

      <param name="controller_frequency" value="10.0" />
    </node>
  </group>

  <!-- Move Base Handles interactions between Nav Stack and Robot Hardware -->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/costmap_common_params-collector.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/costmap_common_params-collector.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find collectorbot_gazebo)/navstack_cfg/namespaced/base_local_planner_params-collector.yaml" command="load" />
      <remap from="map" to="/map" />

      <param name="controller_frequency" value="10.0" />
    </node>
  </group>
</launch>
