<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find collectorbot_description)/urdf/collectorbot.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf"/>
    <include file="$(find collectorbot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 0 -z 0.5" />
      <arg name="robot_name"  value="Robot1" />
    </include>

    <arg name="tf_prefix" value="robot1_tf" />
    <!-- Static tf transform between robot center to base link -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_center" args="0.1413 0 0 0 0 0 $(arg tf_prefix)/robot_center $(arg tf_prefix)/base_link 300" />
    <!-- Static tf transform between robot center to the hokuyo laser -->
    <node pkg="tf" type="static_transform_publisher" name="hokuyo_transform" args=".15 0 .2 0 0 0 $(arg tf_prefix)/robot_center $(arg tf_prefix)/hokuyo_frame 300" />
    <!-- Static tf transform between base link and the camera -->
    <node pkg="tf" type="static_transform_publisher" name="camera_transform" args="0.235000 0 0.145000 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/camera_link 300" />

  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />

    <include file="$(find collectorbot_gazebo)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 5 -y 5 -z 0.5" />
      <arg name="robot_name"  value="Robot2" />
    </include>

    <arg name="tf_prefix" value="robot2_tf" />
    <!-- Static tf transform between robot center to base link -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_center" args="0.1413 0 0 0 0 0 $(arg tf_prefix)/robot_center $(arg tf_prefix)/base_link 300" />
    <!-- Static tf transform between robot center to the hokuyo laser -->
    <node pkg="tf" type="static_transform_publisher" name="hokuyo_transform" args=".15 0 .2 0 0 0 $(arg tf_prefix)/robot_center $(arg tf_prefix)/hokuyo_frame 300" />
    <!-- Static tf transform between base link and the camera -->
    <node pkg="tf" type="static_transform_publisher" name="camera_transform" args="0.235000 0 0.145000 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/camera_link 300" />

  </group>
</launch>
