<launch>
    <arg name="tag3_pose" default="-x -9.934087 -y -2.000000 -z 0.2"/>
    <arg name="tag5_pose" default="-x 3.9 -y 0.2 -z 0.2 -R 1.5707963267948966 -Y 0"/>

    <arg name="tag6_pose" default="-x -2.2 -y 0 -z 0.4 -R 1.5707963267948966 -Y 1.5707963267948966 "/>

    <!-- <arg name="tag8_pose" default="-x 3.9 -y 0 -z 0.2 -R -1.5707963267948966 "/> -->

    <node name="spawn_tag_3" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag3_pose) -file $(find collectorbot_description)/april_tag_3/model.sdf -sdf -model AprilTag3"
    respawn="false" />

    <node name="spawn_tag_5" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag5_pose) -file $(find collectorbot_description)/april_tag_5/model.sdf -sdf -model AprilTag5"
    respawn="false" />

    <node name="spawn_tag_6" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag6_pose) -file $(find collectorbot_description)/april_tag_6/model.sdf -sdf -model AprilTag6"
    respawn="false" />

    <!-- Difference between real & tf: x = -0.4,  y=0.07 -->


    <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_3" args="-10.427 -1.678.0 0.4 3.141592653589793 0 0 map landmark[3] 1000" />

    <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_5" args="3.50 0.07 0.4 0 0 0 map landmark[5] 3000" />


    <!-- <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_6" args="-2.0 0 0.4 1.5707963267948966 0 0 map landmark[6] 3000" /> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_8" args="3.9 0 0.4 0 0 0 map landmark[8] 3000" /> -->

    <arg name="show_extras" default="true" />

    <group if="$(arg show_extras)">
        <arg name="hagen_pose" default="-x 1.01 -y 0 -z 0"/>
        <node name="spawn_hagen" pkg="gazebo_ros" type="spawn_model"
        args="$(arg hagen_pose) -file $(find collectorbot_description)/hagen/model.sdf -sdf -model hagen"
        respawn="false" />

        <arg name="dolan_pose" default="-x 1.01 -y 2 -z 0" />
        <node name="spawn_dolan" pkg="gazebo_ros" type="spawn_model"
        args="$(arg dolan_pose) -file $(find collectorbot_description)/dolan/model.sdf -sdf -model dolan"
        respawn="false" />
    </group>
</launch>
