<launch>

    <!-- ***************************************************************-->
    <!-- ***************************************************************-->
    <!-- ***************************************************************-->
    <!-- Landmarks -->
    <arg name="tag_1_pose" default="-x 10.85 -y -2 -z 0.25 -R 1.5707963267948966"/>
    <arg name="tag_3_pose" default="-x -9.934087 -y -2.000000 -z 0.25"/>
    <arg name="tag_5_pose" default="-x 3.9 -y 0.2 -z 0.25 -R 1.5707963267948966"/>
    <arg name="tag_7_pose" default="-x 6.9 -y 5 -z 0.25 -R 1.5707963267948966"/>

    <node name="spawn_tag_1" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_1_pose) -file $(find collectorbot_description)/apriltags/april_tag_1/model.sdf -sdf -model AprilTag1"
    respawn="false" />

    <node name="spawn_tag_3" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_3_pose) -file $(find collectorbot_description)/apriltags/april_tag_3/model.sdf -sdf -model AprilTag3"
    respawn="false" />

    <node name="spawn_tag_5" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_5_pose) -file $(find collectorbot_description)/apriltags/april_tag_5/model.sdf -sdf -model AprilTag5"
    respawn="false" />

    <node name="spawn_tag_7" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_7_pose) -file $(find collectorbot_description)/apriltags/april_tag_7/model.sdf -sdf -model AprilTag7"
    respawn="false" />

    <!-- Difference between real & tf: x = -0.4,  y=0.07 -->
    <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_1" args="10.45 -1.93 0.2 0 0 0 map landmark[1] 1000" />
    <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_3" args="-10.427 -1.678.0 0.2 3.141592653589793 0 0 map landmark[3] 1000" />
    <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_5" args="3.50 0.07 0.2 0 0 0 map landmark[5] 1000" />
    <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_7" args="6.5 5.07 0.2 0 0 0 map landmark[7] 1000" />


    <!-- ***************************************************************-->
    <!-- ***************************************************************-->
    <!-- ***************************************************************-->
    <!-- Goals -->
    <arg name="tag_0_pose" default="-x -5 -y -6.5 -z 0.25 -R 1.5707963267948966"/>
    <arg name="tag_2_pose" default="-x 9 -y 5 -z 0.25 -Y -1.5707963267948966"/>
    <arg name="tag_4_pose" default="-x -4 -y 2.00 -z 0.25   -Y 1.5707963267948966"/>
    <arg name="tag_6_pose" default="-x -2.2 -y 0 -z 0.25    -Y -1.5707963267948966"/>
    <arg name="tag_8_pose" default="-x -2.0 -y -6.0 -z 0.25 -Y 1.5707963267948966"/>
    <arg name="tag_10_pose" default="-x 5 -y -4.0 -z 0.25   -Y 1.5707963267948966"/>


    <node name="spawn_tag_0" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_0_pose) -file $(find collectorbot_description)/apriltags/april_tag_0/model.sdf -sdf -model AprilTag0"
    respawn="false" />

    <node name="spawn_tag_2" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_2_pose) -file $(find collectorbot_description)/apriltags/april_tag_2/model.sdf -sdf -model AprilTag2"
    respawn="false" />

    <node name="spawn_tag_4" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_4_pose) -file $(find collectorbot_description)/apriltags/april_tag_4/model.sdf -sdf -model AprilTag4"
    respawn="false" />

    <node name="spawn_tag_6" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_6_pose) -file $(find collectorbot_description)/apriltags/april_tag_6/model.sdf -sdf -model AprilTag6"
    respawn="false" />

    <node name="spawn_tag_8" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_8_pose) -file $(find collectorbot_description)/apriltags/april_tag_8/model.sdf -sdf -model AprilTag8"
    respawn="false" />

    <node name="spawn_tag_10" pkg="gazebo_ros" type="spawn_model"
    args="$(arg tag_10_pose) -file $(find collectorbot_description)/apriltags/april_tag_10/model.sdf -sdf -model AprilTag10"
    respawn="false" />


    <!-- ***************************************************************-->
    <!-- ***************************************************************-->
    <!-- ***************************************************************-->
    <arg name="show_extras" default="false" />

    <group if="$(arg show_extras)">
        <arg name="hagen_pose" default="-x 1.01 -y 0 -z 0"/>
        <node name="spawn_hagen" pkg="gazebo_ros" type="spawn_model"
        args="$(arg hagen_pose) -file $(find collectorbot_description)/hagen/model.sdf -sdf -model hagen"
        respawn="false" />

        <arg name="dolan_pose" default="-x 1.01 -y 2 -z 0" />
        <node name="spawn_dolan" pkg="gazebo_ros" type="spawn_model"
        args="$(arg dolan_pose) -file $(find collectorbot_description)/dolan/model.sdf -sdf -model dolan"
        respawn="false" />
    </group>
</launch>
